.rootContainer{
    /* display: flex; */
    width: 100%;
    min-height: 100vh;
}

.navigationContainer{
    /* width: 20vw;
    background-color: black; */
}

.contentContainer{
    width: 100%; 

}