

:root{
    margin: 0;
    padding: 0;
    --backgroundColor:white;
    --primaryColor: #42047e;
    --secoundryColor:#941b85;
    --extraColor:blue;
  
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body{
    background-color: var(--backgroundColor);
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}

.textPrimary{
    color: var(--primaryColor);
}


.textWhite{
    color: white;
}


.bgPrimary{
    background-color: var(--primaryColor);
}

/* -------------------basic center properties----------------- */

.dfjccaicfdc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}



/* -----------------for headings----------------------- */

h1 {
    background: linear-gradient(to bottom,var(--primaryColor),var(--secoundryColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    /* background: linear-gradient(to right,var(--primaryColor),var(--secoundryColor),var(--secoundryColor)); */
    color: var(--primaryColor);
}