nav{
    width: 100vw;
    height: 4rem;
    background-color: darkblue;
    color: white;
}


nav > .navContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
}